<h3>Αυτό το τεστ περιλαμβάνει:</h3>

<div class="list-group top-buffer">


           {% for key,a in types %}
             <div class="list-group-item">
                 {{ a }} ερωτήσεις {{ key|name }}.
             </div>
            {% endfor %}

</div>