<h3>Αυτό το τεστ περιλαμβάνει:</h3>

<div class="list-group top-buffer">

    <div class="list-group-item">
        <div class="row-picture">
            <span><i class="fa fa-3x fa-clock"></i> </span>
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">Tile with another avatar</h4>
        </div>
    </div>
    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary checkbox">
            <label><input type="checkbox" checked disabled></label>
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">Tile with a checkbox in it</h4>
        </div>
    </div>
</div>