{% extends "QuizCoreBundle::layout.html.twig" %}

{% block head %}
   {% javascripts '' %}
        <script type="text/javascript" src="{{ hello.js }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {{ haha }}

    <div>
    </div>

{% endblock %}