{% extends "QuizCoreBundle::layout.html.twig" %}

{% block stylesheets %}
     {% stylesheets '@QuizCoreBundle/Resources/public/css/index.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block pageTitle %}Αρχική σελίδα{% endblock %}
{% block container %}


    {% include "@QuizCore/Partials/_header.html.twig" %}



    <div class="row filter-bar">
        <div class="col-sm-6">
                <input type="text" data-bind="textInput: searchTerm" class="form-control" placeholder="Αναζήτηση"/>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-sm-12">

            <ul class="quiz-list" id="container" data-bind="foreach: $data">



                <li class="item">
                    <div class="quiz-info-box">
                        <div class="quiz-name"> <span><i class="fa fa-2x fa-check green-color"></i></span>
                            <span data-bind="text: $data.name"></span></div>
                        <div class="quiz-questions"><span data-bind="text: $data.questions().length" ></span> ερωτήσεις</div>
                        <div class="quiz-type">


                            <span data-bind="visible: $data.time() > 0, text: $data.time"></span>
                            <span data-bind="visible: $data.time() > 0">λεπτά χρονικός περιορισμός.</span>

                            <span data-bind="visible: $data.time() == 0">Χωρίς χρονικό περιορισμό.</span>

                            <div class="text-center">
                                <span class="btn btn-success" data-bind="click: function() { $root.start($data.id())}">Έναρξη</span>
                            </div>

                        </div>
                    </div>
                </li>




            </ul>

        </div>
    </div>


{% endblock %}

{% block javascripts %}


    <script>


        var obj = {{ sq |raw }};
        var arr = [];


        var url = '{{ url('_quiz_page') }}';
        for (var a in obj) {
            arr.push(obj[a]);
        }

        var vm = {
            data: ko.mapping.fromJS(arr),
            searchTerm : ko.observable(''),
            start : function(id) {
                url = url + '/' + id;
                location.href = url;
            }
        };


        var old = vm.data();
        vm.searchTerm.subscribe(function(val){
           var aa=  _.filter(old, function(c){
               return _.contains(c.name(), val);
            });

            vm.data(aa);
        });

        ko.applyBindings(vm);

    </script>

{% endblock %}