{% extends "QuizCoreBundle::layout.html.twig" %}

{% block stylesheets %}
 {% stylesheets 'bundles/quizcore/css/index.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}

{% endblock %}


{% block container %}


    {% include "@QuizCore/Partials/_header.html.twig" %}



    <div class="row quiz">
        <div class="col-sm-6">
            <p>ed</p>
        </div>
    </div>



{% endblock %}
