{% extends '@QuizCore/layout.html.twig' %}

{% block pageTitle %}Magicc{% endblock %}

{% block stylesheets %}
    {% stylesheets '@QuizCoreBundle/Resources/public/css/quiz.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}

{% block container %}

        <div class="user-bar">
            {{ quiz.name }}


    </div>

    <ul>
        {% for question in quiz.questions %}
            <li>{{ question.questionText }}

            <ul>
                {% for answer in question.answers %}
                    <li>{{ answer.answerText }}</li>
                {% endfor %}
            </ul>

            </li>
        {% endfor %}
    </ul>
{% endblock  %}